<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.LavagnaVisual.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Client.LavagnaVisual.Test.Properties.Settings>
            <setting name="Address" serializeAs="String">
                <value>http://localhost:5500/api/</value>
            </setting>
            <setting name="TimeOutApiCall" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LastNotificationTime" serializeAs="String">
                <value>5</value>
            </setting>
        </Client.LavagnaVisual.Test.Properties.Settings>
    </applicationSettings>
</configuration>